/*!XXXXXXXXXXXXXXXXXXX Fonts XXXXXXXXXXXXXXXXXXXXX*/
@font-face {
  font-family: Poppins;
  src: url("/public/fonts/Poppins-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Poppins;
  src: url("/public/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url("/public/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url("/public/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Poppins;
  src: url("/public/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Poppins;
  src: url("/public/fonts/Poppins-Black.ttf");
  font-weight: 900;
}

/*!XXXXXXXXXXXXXXXXXXX Global Roles XXXXXXXXXXXXXXXXXXXXX*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: Poppins;
  background-color: var(--body-color);
}
:root {
  --body-color:   #ffffff;
  --main-color:   #2a84ff;
  --main-color2:  #fd723b;
  --text-color:   #2f2f2f;
  --paragraph :   #8b8b8b;
  --input-color:  #ececec;
  --border-color: #d2d2d2;
}
body.dark {
  --body-color:   #171918;
  --text-color:   #fff;
  --paragraph :   #8b8b8b;
  --input-color:  #232625;
  --border-color: #2f2f2f;
}
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5rem;
}
html {
  scroll-behavior: smooth;
}
a {
    text-decoration: none;
}                                                                   
h1,h2,h3,h4,h5,h6,li,span,.icon,a {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
p {
  margin: 0;
  padding: 0;
  color: var(--paragraph);
}
ul {
    list-style: none;
    margin: 0;
    padding:0;
}
hr {
  background: var(--border-color);
  height: 2px;
  border: none;
}
input {
  background: var(--body-color);
  padding-left: 30px;
  height: 46px;
  color: var(--text-color);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;
  transition: 0.3s;
  width: 86%;
}
input:focus {
  outline: none;
  border: 1px solid var(--main-color);
}
button {
  border: none;
}
.icon {
  color: var(--text-color);
  font-size: 30px; 
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1300px;
  }
}
.mainTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 70px;
}
.mainTitle h1 {
  position: relative;
  font-size: 36px;
  max-width: 562px;
  text-align: center;
  font-weight: 600;
}
.mainTitle h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -9px;
  transform: translateX(-50%);
  width: 40%;
  height: 4px;
  background-color: var(--main-color);
}
.mainTitle p {
  max-width: 689px;
  text-align: center;
  font-size: 15px;
}
.scrollBar {
  background: var(--main-color);
  font-size: 30px;
  color: white;
  padding: 6px 12px;
  position: fixed;
  right: -100px;
  bottom: 4%;
  border-radius: 4px;
  border: none;
  cursor: pointer !important;
  z-index: 200;
  transition: 0.2s;
}
.scrollBar.show {
  right: 3%;
}
.scrollBar:hover {
  background-color: var(--main-color2);
  transition: 0.3s;
}
@media (max-width:992px) {
  .scrollBar {
    bottom: 2%;
  }
}
@media (max-width:786px) {
  .scrollBar {
    font-size: 20px;
    bottom: 2%;
    border-radius: 6px;
  }
}

/*!XXXXXXXXXXXXXXXXXXX Header XXXXXXXXXXXXXXXXXXXXX*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0px;
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  position: relative;
  border-bottom: 2px solid var(--border-color);
  z-index: 100;
}
.header .logo {
  display: flex;
  align-items: center;
  z-index: 100;
}
.header > .logo img {
  width: 50px;
  margin-right: 10px;
  margin-left: 2px;
  cursor: pointer;
}
.header .logo h1 {
  font-size: 25px;
  cursor: pointer;
}
.header .nav {
  display: flex;
  gap: 5px;
  position: relative;
  left: -5%;
}
.header .nav a {
  text-transform: uppercase;
  padding: 27px 20px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 500;
}
.header .nav a:hover {
  color: var(--main-color);
}
.header .nav a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.header .icon {
  color: var(--text-color);
  font-size: 30px;
  margin-right: 10px;
}

.header .barsHolder {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.header .darkLight {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: white;
    margin: 0 5px;
}
.header .darkLight .icon {
  position: absolute;
  color: var(--text-color) ;
  cursor: pointer;
  transition: all 0.3s ease;
}




.sideBar {
  background: var(--body-color);
  border-radius: 10px;
  padding: 30px;
  position: fixed;
  top: 0;
  background: var(--input-color);
  z-index: 101;
  left: -100%;
  width: 100%;
  transition: 0.5s;
}
.sideBar.active {
  left: 0;
}
.sideBar h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 18px;
}
.sideBar .logo {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: space-between;
}
.sideBar .logo div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sideBar .logo img {
  width: 45px;
}
.sideBar .logo .icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
  transform: translateY(3px);
  color: var(--text-color);
}
.sideBar .logo .icon:hover {
  color: white;
  padding: 4px;
  background: var(--main-color);
}
.sideBar a,
.sideBar .LogOut {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 14px;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.3s;
}
.sideBar a:hover {
  background-color: var(--main-color);
}
.sideBar a div {
  display: flex;
  gap: 10px;
}
.sideBar .icon {
  font-size: 35px;
}
.sideBar  li,
.sideBar span {
  font-size: 20px;
  font-weight: 500;
}
.sideBar .contact,
.sideBar .LogOut  {
  background-color: var(--main-color);
  margin-bottom: 10px;
}
.sideBar .notifications {
  justify-content: space-between; 
}
.sideBar .notifications span {
  font-weight: 700;
  font-size: 18px;
  background: var(--main-color);
  border-radius: 8px;
  color: white;
  width: 42px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sideBar .userInfo {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 25px;
  transition: 0.3s;
  padding: 8px 11px 0px;
  color:var(--text-color);
}
.sideBar .userInfo:hover {
  background: var(--main-color);
  padding: 10px;
  border-radius: 9px;
}
.sideBar .userInfo img {
  width: 66px;
  border-radius: 50%;
  object-fit: cover;
}
.sideBar .userInfo p {
  color: var(--paragraph);
}

.sideBar li,
.sideBar h3,
.sideBar .icon {
  color: inherit;
}

.sideBar .contact,
.sideBar .LogOut {
  color: white;
}

.sideBar a:hover,
.sideBar span:hover,
.sideBar .userInfo:hover {
  color: white;
}
.sideBar .LogOut:hover {
  background: #ff2c2c;
}




.header2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.header2 .nav {
  background: transparent;
  display: flex;
  flex-direction: column;

}
.header2 .nav .headr2Li {
  writing-mode: vertical-rl;
  padding: 41px 30px;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 2px solid var(--border-color);
  transition: 0.3s;
  color: var(--text-color);
}
.header2 .nav .headr2Li:last-child {
  border: none;
}
.header2 .nav .headr2Li:hover,
.header2 .nav .headr2Li.active {
  background: var(--main-color);
  color: white;
}


.header3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  backdrop-filter: blur(9px);
  border-right: 2px solid var(--border-color);
}
.iconHolder li .icon {
  width: 55px;
  height: 45px;
  padding: 9px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
}

.iconHolder li .icon:hover {
  background: var(--main-color);
  color: white;
}
.header3 .scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.header3 .scroll h4 {
  font-size: 16px;
  font-weight: revert;
  writing-mode: vertical-rl;
  letter-spacing: 2.2px;
}
.header3 .scroll span {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  width: 80px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.header3 .scroll span:hover {
  background: var(--main-color2);
}
.header3 .scroll .icon {
  color: var(--text-color);
  transform: rotate(-90deg);
  font-size: 40px;
  color: white;
}

.pagesTop {
  display: flex;
  background: linear-gradient(90deg, rgba(52, 127, 223, 1) 15%, rgba(242, 115, 68, 1) 87%);
}
.pagesTop .container {
  display: flex;
  justify-content: space-between;
  height: 125px;
  align-items: center;
}
.pagesTop .home {
  display: flex;
  align-items: center;
  color: white;
}
.pagesTop .icon {
  color: white;
  font-size: 26px;
}
.pagesTop .pages {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.pagesTop .pages h5 {
  color: white;
  font-weight: 500;
  font-size: 17px;
  text-transform: capitalize;
}
.pagesTop .pageName1 {
  font-size: 19px;
  color: white;
  font-weight: 500;
  text-transform: capitalize;
}
.pagesTop .pages .home a {
  color: white;
  transition: 0.3s;
}



@media (max-width:768px) {
  .header-2 .container {
    padding: 105px 16px 25px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .header-2 .pages .pageName2 {
    font-size: 14px;
  }
  .home a {
    font-size: 15px;
  }
}

/*!XXXXXXXXXXXXXXXXXXX Landing XXXXXXXXXXXXXXXXXXXXX*/

.landing {
  display: flex;
  gap: 25px;
}
.landing .content {
  display: flex;
  gap: 39px;
  width: 89%;
}
.projectsHolder {
  width: fit-content;
}
.projectsHolder .box {
  position: relative;
  width: fit-content;
  border-left: 0px solid #1765a9;
  transition: 0.3s ease-in;
  overflow: hidden;
  display: flex;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.projectsHolder .box.active {
  border-left: 7px solid var(--main-color);
  box-shadow: var(--main-color) 0 0 70px -28px;
  transition: 0.3s;
}
.projectsHolder .box.active:hover {
  border-left: 7px solid var(--main-color2);
  box-shadow: var(--main-color2) 0 0 70px -28px;
}
.projectsHolder .box.active:hover p {
  background: var(--main-color2);
}
.projectsHolder .box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(20deg, rgba(0, 0, 0, 1) -54%, rgba(255, 235, 0, 0) 85%);
}
.projectsHolder .box img {
  object-fit: cover;
  width: 380px;
  height: 228px;
}
.projectsHolder .box h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 3;
  color: white;
}
.projectsHolder .box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 3;
  background: var(--main-color);
  padding: 4px 10px;
  border-radius: 8px;
  visibility: hidden;
  transform: 0.3s;
}
.projectsHolder .box.active p {
  visibility: visible;
}

.textHolder .imgHolder {
  position: relative;
  transform: translateY(-40px);
}
.mainImg {
  width: 702px;
  position: relative;
  z-index: 2;
  animation: up-and-down 4s linear infinite;
}
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -35px;
  }
}
.textHolder {
  max-width: 73%;
  height: fit-content;
  margin-top: 181px;
  display: flex;
  align-items: center;
}
.textHolder .text {
  transform: translateY(-50px);
}
.landing .mainTitle {
  font-size: 40px;
  font-weight: 700;
  color: var(--main-color);
  flex-direction: row;
  gap: 0;
  margin-bottom: 12px;
}
.landing .mainTitle span {
  color: inherit;
}
.textHolder h1 {
  font-size: 52px;
  
  width: fit-content;
  padding-bottom: 8px;
  margin-bottom: 23px;
}
.textHolder p {
  font-size: 20px;
  letter-spacing: 0.3px;
  color: #707070;
  line-height: 1.3;
  text-transform: capitalize;
  margin-top: 10px;
} 
.textHolder h4 {
  margin: 17px 8px 11px;
  font-size: 18px;
  font-weight: 500;
}
.textHolder .whyUs li {
  color: #707070; 
  margin-bottom: 10px;
}
.textHolder .whyUs li span {
  margin-right: 7px;
  color: var(--main-color);
  font-weight: 700;
}

.swiper {
  width: 86% !important;
  transform: translateX(12px) !important;
}
.swiper-slide {
  width: 100% !important;
}
.swiperBtn {
  background: var(--main-color);
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  bottom: -55px;
  z-index: 100;
  cursor: pointer;
  transition: 0.3s;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: var(--main-color2);
}
.swiper-button-prev.swiperBtn {
  left: 45%;
}
.swiper-button-next.swiperBtn {
  left: 55%;
}

/*!XXXXXXXXXXXXXXXXXXX ABOUT XXXXXXXXXXXXXXXXXXXXX*/

.section .container {
  display: flex;
  align-items: center;
  gap: 88px;
  margin-bottom: 100px;
  margin-top: 100px;
}
.section .holder {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.section img {
  width: 40%;
  border-radius: 30px;
}
.section hr {
  margin: -10px 0px;
}
.section .button {
  display: flex;
  align-items: center;
  gap: 30px;
}
.section .button a,
.section .button button {
  background: #2f3f56;
  color: white;
  padding: 12px 24px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
}
.section .button button  {
  display: flex;
  align-items: center;
  color: white;
  gap: 9px;
  font-size: 16px;
  background: transparent;
  color: var(--text-color);
  border: 2px solid #adadad;
}
body.dark .about .button button {
  border: 2px solid #4e4e4e;
}
.section .button a:hover,
.section .button button:hover {
  background: var(--main-color);
  border-color: transparent;
  color: white;
}
.section .button button .icon {
  color: inherit;
  font-size: 21px;
}

.about .team {
  padding-top: 90px;
  padding-bottom: 100px;
  position: relative;
  background: var(--body-color);
  margin-bottom: 150px;
}
.about .team .mainTitle {
  margin-bottom: 130px;
}
.about .team .containerGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  row-gap: 90px;
}
.about .team .box {
  padding: 20px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  position: relative;
  transition: 0.3s;
  height: fit-content;
  margin-bottom: 8px;
  background: var(--input-color);
}
.about .team .box .lines {
  position: absolute;
  inset: 0;
  overflow: hidden;
  background-color: transparent;
}
.about .team .box .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16%;
  height: 234%;
  animation: borders 15s linear infinite;
}
.about .team .box:hover .lines::before {
  background: var(--main-color);
}
@keyframes borders {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.about .team .box .lines::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: var(--input-color);
}
.about .team .box .content{
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 66px;
  overflow: hidden;
  transition: 0.6s;
}
.about .team .box:hover .content {
  max-height: 160px;
}
.about .team .box .imgHolder {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  position: absolute;
  top: -67px;
  left: 73%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .team .box .imgHolder .lines {
  border-radius: 50%;
}
.about .team .box .imgHolder img {
  position: relative;
  width: 80%;
  object-fit: cover;
  border-radius: 50%;
}
.about .team .box .imgHolder .lines::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 200%;
    background-color: var(--main-color);
    animation: borders 18s linear infinite;
}
.about .team .box .imgHolder .lines::after {
  inset: 4px;
  background: var(--body-color);
  border-radius: 50%;
}
.about .team .box h3 {
  color: var(--main-color);
  font-size: 22px;
  font-weight: 600;
}
.about .team .box .title {
  color: #777;
  margin: 0px 0 5px;
  display: block;
}
.about .team .box .rating .icon {
  color: var(--main-color);
}
.about .team .box p {
  line-height: 1.5;
  margin-top: 4px;
  margin-bottom: 0;
  font-weight: bolder;
  line-height: 1.7;
}

.about .work .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
}
.about .work .text {
  width: 46%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.about .work .cards {
  display: flex;
  gap: 20px;
  width: 49%;
}
.about .work .cards > div {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.about .work .cards .firstHolder {
  transform: translateY(-20px);
}
.about .work .cards .box {
  background: var(--input-color);
  padding: 22px;
  border-radius: 9px;
}
.about .work .cards .box h4 {
  margin: 15px 0 4px;
}
.about .work .cards .box .icon {
  width: 70px;
  height: 70px;
  padding: 10px;
  display: flex;
  background: var(--main-color);
  border-radius: 7px;
  margin-bottom: 15px;
  transition: 0.3s;
  color: white;
}

.about .work-steps .container {
  padding-top: 90px;
  padding-bottom: 127px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  background-color: var(--section-background);
}
.about .work-steps .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.about .work-steps .info .text {
  gap: 0;
}
.about .work-steps .text a {
  background: #2f3f56;
  color: white;
  padding: 12px 24px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
}
.about .work-steps .text a:hover {
  background: var(--main-color);
  border-color: transparent;
  color: white;
}
.about .work-steps .info .box {
  background-color: var(--input-color);
  padding: 30px;
  border-radius: 9px;
  margin-bottom: 25px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
  transition: 0.3s;
  border-left: 4px solid var(--main-color);
}
.about .work-steps .info .box:hover {
  scale: 1.05;

}
.about .work-steps .info .box:hover::before {
  width: 100%;
  height: 100%;
}
.about .work-steps .info .box img {
  width: 64px;
  margin-right: 20px;
}
.about .work-steps .info .box h3 {
  margin: 0;
  font-size: 22px;
}
.about .work-steps .info .box p {
  color: #696969;
  margin: 10px 0 0;
  line-height: 1.4;
  font-size: 18px;}

.about .blogs {
  padding: 0 0 100px;
}
.about .blogs .holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
  gap: 25px;
}
.about .blogs .card {
  background: var(--input-color);
  border: none;
}
.about .blogs .card .image {
  overflow: hidden;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.about .blogs .card .image img {
  width: 100%;
  transition: 0.3s;
}
.about .blogs .card:hover img {
  scale: 1.1;
}
.about .blogs .card .holder {
  padding: 23px 24px 29px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about .blogs .card span {
  font-weight: 500;
  color: var(--main-color);
  cursor: pointer;
}
.about .blogs .card h3 {
  font-size: 18px;
}
.about .blogs .card p {
  font-size: 14px;
}
.about .blogs .card a {
  font-size: 13px;
  color: var(--main-color);
  transition: 0.3s;
}
.about .blogs .card a:hover {
  letter-spacing: 1.2px;
}


.about .counter {
  padding: 100px 0 120px;
}
.about .counter .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
  gap: 25px;
}
.about .counter .num {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about .counter .num div {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 400;
  color: var(--text-color);
  z-index: 2;
}
.about .counter .num div h1 {
  font-weight: 600;
}
.about .counter .num h1::before {
  content: "";
  position: absolute;
  left: -8px;
  top: -13px;
  z-index: -1;
  height: 47px;
  width: 26px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  transform: rotate(45deg);
}
.about .counter .num1 h1::before {
  background: #ff4e79;
}
.about .counter .num2 h1::before {
  background: #fd723b;
}
.about .counter .num3 h1::before {
  background: #ffa842;
}
.about .counter .num4 h1::before {
  background: #a074ff;
}
.about .counter .num p {
  font-size: 15px;
  font-weight: 600;
}

/*!XXXXXXXXXXXXXXXXXXX SERVICES XXXXXXXXXXXXXXXXXXXXX*/

.services-page .services {
  padding-top: 90px;
  padding-bottom: 127px;
  position: relative;
  background-color: var(--section-background);
}
.services-page .services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.services-page .services .box {
  background-color: var(--input-color);
  counter-increment: services;
  transition: 0.3s;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.services-page .services .box::before {
  content: "";
  left: 50%;
  top: -3px;
  height: 3px;
  width: 0px;
  transform: translateX(-50%);
  background-color: var(--main-color);
  position: absolute;
  transition: 0.3s;
}
.services-page .services .box:hover {
  transform: translateY(-10px);
}
.services-page .services .box:hover::before {
  width: 100%;
}
.services-page .services .box .icon {
  color: #c2c2c2;
  font-size: 60px;
  margin: 38px 0 1px;
}
.services-page .services .box h3 {
  font-size: 24px;
  color: var(--main-color);
  margin-bottom: 30px;
  font-weight: 500;
  text-transform: capitalize;
}
.services-page .services .box div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 23px;
}
.services-page .services .box .info {
  text-align: right;
  padding: 15px;
  position: relative;
}
.services-page .services .box .info a {
  color: var(--main-color);
  align-self: flex-end;
  font-weight: 700;
}
.services-page .services .box .info::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services-page .services .box .info::after {
  content: "";
  position: absolute;
  height: calc(100% + 0.1px);
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.3px);
  transform: skewX(-30deg);
  background-color: #c2c2c2;
}

/*!XXXXXXXXXXXXXXXXXXX CONTACT XXXXXXXXXXXXXXXXXXXXX*/

.contact-page {
  padding: 100px 0 0;
  background: var(--input-color);
}
.contact-page .footer {
  background: var(--body-color);
}
.contact-page .container {
  display: flex;
  justify-content: space-between;
}
.contact-page .contact {
  width: 57%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  background: var(--body-color);
  padding: 43px 33px;
  border-radius: 8px;
}
.contact-page .contact div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact-page .contact > div label {
  font-size: 15px;
  color: var(--text-color);
}
.contact-page .contact > div input {
  height: 52px;
}
.contact-page .contact > div input,
.contact-page .contact > div textarea {
  padding: 15px;
  border-radius: 6px;
  outline: none;
  resize: none;
  background: var(--input-color);
  width: 100%;
  border: none;
  font-weight: 700;
  color: var(--text-color);
}
.contact-page .contact > div input:focus,
.contact-page .contact > div textarea:focus { 
  outline: 2px solid var(--main-color);
}
.contact-page .contact .main-btn {
  width: 100%;
  text-align: center;
  color: white;
  background: var(--main-color);
  width: fit-content;
  padding: 15px 22px;
  border-radius: 6px;
  font-size: 15px;
  transition: 0.3s;
  font-weight: 600;
}
.contact-page .contact .main-btn:hover {
  background: var(--main-color2);
}
.contact-page .info-contact {
  width: 41%;
  background: var(--body-color);
  padding: 43px 33px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contact-page .info-contact .icon {
  width: 60px;
  height: 55px;
  padding: 10px;
  display: flex;
  background: var(--main-color);
  border-radius: 7px;
  transition: 0.3s;
  color: white;
}
.contact-page .info-contact > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-page .info-contact h1 {
  font-size: 28px;
}
.contact-page .info-contact > p {
  margin-top: -13px;
}
.contact-page .info-contact p {
  font-size: 15px;
}
.contact-page .info-contact > div h3  {
  font-size: 20px;
}
.contact-page .info-contact > div p {
  margin-bottom: 2px;
}
.contact-page .info-contact .iconHolder {
  display: flex;
  gap: 15px;
}
.contact-page .info-contact .iconHolder .icon {
  background: var(--input-color);
  width: 50px;
  height: 45px;
  padding: 7px;
}
.contact-page .info-contact .iconHolder .icon:hover {
  background: var(--main-color);
}

/*!XXXXXXXXXXXXXXXXXXX SemiFooters XXXXXXXXXXXXXXXXXXXXX*/

.started {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--main-color);
  padding: 20px;
  border-radius: 10px;
}
.started .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--main-color);
  padding: 62px;
  border-radius: 10px;
}
.started img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.started h1 {
  font-size: 30px;
  color: white;
  font-weight: 600;
  z-index: 2;
}
.started a {
  color: #1a1a1a;
  background: #ffffff;
  font-weight: 600;
  z-index: 2;
}
.started .main-btn {
  color: #1a1a1a;
  background: #fff;
  width: fit-content;
  padding: 15px 22px;
  border-radius: 6px;
  font-size: 15px;
  transition: 0.3s;
  font-weight: 600;
  z-index: 2;
}
.started .main-btn:hover {
  background: var(--main-color2);
  color: white;
}

/*!XXXXXXXXXXXXXXXXXXX MainFooter XXXXXXXXXXXXXXXXXXXXX*/

.footer {
  padding: 60px 0 0;
  margin-top: 65px;
  background: var(--input-color);
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  align-items: center;
}
.footer .box h3 {
  color: white;
  font-size: 38px;
  margin: 0 0 12px;
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}
.footer .box h3 span {
  color: var(--main-color);
}
.footer .iconHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .box .text {
  line-height: 2;
  color: #b9b9b9;
  text-align: center;
}
.footer .link-box {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.footer .link-box .links {
  display: flex;
  flex-direction: column;
}
.footer .link-box .links a {
  padding: 15px 0;
  transition: 0.3s;
}
.footer .link-box .links .icon {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 5px;
  margin-top: 2px;
}
.footer .link-box .links a:not(:last-child) {
  border-bottom: 1px solid #444;
}
.footer .link-box .links a:hover {
  padding-left: 10px;
}
.footer .bolink-boxx .links a:hover {
  color: white;
}
.footer .link-box .links a {
  color: #b9b9b9;
  transition: 0.3s;
}
.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
.footer .box .line .icon {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
.footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
.footer .box .line .info span {
  display: block;
}
.footer .copyright {
  padding: 23px 0px;
  text-align: center;
  color: white;
  margin: 21px 0px 0px;
  border-top: 1px solid rgb(68, 68, 68);
}

/*!XXXXXXXXXXXXXXXXXXX MEDIA QUERE XXXXXXXXXXXXXXXXXXXXX*/

@media (max-width:1700px) {
  .mainImg {
    width: 550px; 
  }
}
@media (max-width: 1700px) {
  .mainImg {
    width: 447px; 
  }
}
@media (max-width: 1500px) {
  .mainImg {
    display: none;
  }
}
@media (max-width:1200px) {
  
}
@media (min-width:1200px) {
  .header2 .iconHolder {
    display: none;
  }
}
@media (max-width:992px) {
  .header2 .nav li:last-child {
    border-bottom: 2px solid #5f5f5f;
  }
  .header2 .nav li {
    padding: 56px 30px;
  }
  .header2 {
    height: 93%;
    justify-content: space-between;
    z-index: 98;
  }
  .header2 .iconHolder {
    margin-bottom: 6px;
  }
  .header3,
  .header > .logo h1 {
    display: none;
  }
  .landing {
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
  }
  .header .nav {
    left: -3px;
  }
  .textHolder {
    max-width: 673px;
  }
  .mainImg {
    display: none;
  }
  .landing .content .text div {
      display: flex;
      justify-content: center;
  }
  .projectsHolder {
    margin-left: 0;
    display: flex;
    gap: 25px;
    max-width: 591px;
    overflow: visible !important;
    transform: translateX(21px);
  }
  .projectsHolder .box img {
    object-fit: cover;
    width: 590px;
    height: 327px;
  }
  .projectsHolder .box {
    overflow: visible;
  }
  .header2 .nav .headr2Li {
    padding: 33px 30px;
  }
  .landing .content {
    height: fit-content;
    flex-direction: column-reverse;
    align-items: center;
  }
  .textHolder .text {
    text-align: center;
  }
  .projectsHolder .box.active {
    border-left: none;
    box-shadow: none;
    transition: 0.3s;
  }
  .projectsHolder .box.active p {
    visibility: hidden;
  }
  .about .section {
    flex-direction: column;
  }   
  .about .section img {
    width: 55%;
  }
  .about .section .button {
    justify-content: center;
    margin-top: 10px;
  }
  .about .work {
    flex-direction: column;
    gap: 75px;
  }
  .about .work .text {
    width: 100%;
  }
  .about .work .cards {
    width: 85%;
  }
  .about .section {
    margin-bottom: 150px;
  }
  .about p {
    text-align: center;
  }
  .contact-page .container {
    flex-direction: column;
    gap: 32px;
  }
  .contact-page .contact,
  .contact-page .info-contact {
    width: 100%;
    padding: 30px;
  }
  .contact-page {
    padding: 58px 0 87px; 
  }
  .contact-page .contact .main-btn {
    width: 100% !important;
  }
  .about .work {
    margin-bottom: 80px;
  }
  .about .work-steps .container{
    flex-direction: column;
  }
  .about .work-steps .image {
    margin: 0 111px 50px;
  }
  .about .work-steps .info .box {
    flex-direction: column;
    text-align: center;
  }
  .about .work-steps .info .box img {
    margin: 0 21px 21px;
  }
  .about .mainTitles {
    text-align: center;
  }
  .about .work-steps .text {
    gap: 30px;
  }
  .about .work-steps {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .about .work-steps .text {
    align-items: center;
  }
  .footer {
    margin-top: -50px;
  }
}

@media (min-width:786px) {
  .header2 {
    backdrop-filter: blur(9px);
    border-left: 2px solid var(--border-color);
  }
  .bars  {
    display: none !important;
  }
}

@media (max-width:786px) {
  .container {
    padding-left: 20px;
    padding-right: 20px; 
  }
  .header {
    height: 75px;
  }
  .header .nav {
    display: none;
  }
  .header > .logo h1 {
    display: flex;
    font-size: 20px;
  }
  .header .icon {
    margin: 0 0 0 10px;
  }
  .header .icon.bars {
    font-size: 35px;
    transform: translateY(2px);
  }
  .header .icon.bars:hover {
    color: var(--main-color);
  }
  .header2 {
    position: relative;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-bottom: 60px;
    margin-top: 40px;
    height: fit-content;
    justify-content: flex-start;
  } 
  .header2 .nav .headr2Li {
    writing-mode: inherit; 
    padding: 20px 15px;
  }
  .header2 .nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .header2 .iconHolder {
    display: none;
  }
  .header2 .nav .headr2Li:last-child {
    border-bottom: 2px solid var(--border-color);
  }

  .landing {
    flex-direction: column-reverse;
  }
  .landing .content {
    width: 100%;
  }
  .textHolder {
    margin-top: 0;
  }
  .mainTitle span{
    font-size: 30px;
    margin-bottom: -10px;
  }
  .swiper {
    margin: 0 !important;
    width: 92% !important;
    transform: translateX(2px) !important;
  }
  .projectsHolder .box img {
    width: 100%;
    height: 237px;
  }
  .pagesTop .container {
    flex-direction: column;
    justify-content: center;
    gap: 7px;
  }
  .about .section img {
    width: 88%;
  }

  .about .mainTitles {
    font-size: 25px;
    text-align: center;
  }
  .about .section .button {
    gap: 10px;
  }
  .about .work .cards {
    flex-direction: column;
  }
  .about .work .cards {
    gap: 0;
  }
  .footer {
    text-align: center;
  }
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .footer .box .line {
    flex-direction: column;
  }
  .footer .box .social {
    justify-content: center;
  }
}